body {
	font-family: sans-serif;
	background-color: rgb(7, 7, 68);
}
#svg{
	margin-top: 3em;
}
.inactiveNode {
	r: 17px;
	fill: yellow;
	stroke: green;
	stroke-width: 2px;
}
.activeNode {
	fill: #40469d;
	stroke: #3840ac;
	stroke-width: 5px;
}
.selectNode {
	r: 17px;
	fill: #40469d;
	stroke: #020424;
	stroke-width: 5px;
}
.inactiveLine {
	stroke: black;
	stroke-width: 2px;
}
.activeLine {
	stroke: #40469d;
	stroke-width: 5px;
}

svg {
	width: 70%;
	margin: 15px auto;
	border: 4px solid rgb(100, 100, 100);
	background: #bac0f5;
	display: block;
	border-radius: 10px;
	height: calc(80vh - 10px);
}

#message {
	color: white;
	font-weight: bold;
	font-size: 20px;
}
div {
	text-align: center;
	justify-content: center;
	align-items: center;
}
#algorithmBtn {
	display: block;
	justify-content: center;
	text-align: center;
}
section{
	margin: 15px 30px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	align-items: center;
}
button {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	height: 50px;
	background-color: rgb(0, 0, 0);
	width:100px;
	border-radius: 12px;
	box-shadow:3px 3px 15px #eec4c4 !important;
}
button:hover {
	background-color: rgb(0, 25, 78) !important;
	box-shadow: 0px 0px 0px #eec4c4;
}
p{
	color: aliceblue;
}
h1 {
	text-align: center;
	margin: 10px auto 15px auto;
	padding: 10px 0;
	width: 50%;
	color: rgb(253, 235, 255);
}

form div {
	display: inline-block;
	margin-right: 20px;
}
#resetButton {
}
.deactiveSave{
	pointer-events: none;
	color:black;
	background-color: rgb(179, 179, 216);
}text{
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
}
section.deactive,section.deactive button ,button.deactive {
	pointer-events: none;
	background-color: rgb(10, 10, 70);
}
@media screen and (max-width: 1100px) {
	svg {
		width: 100%;
		height: calc(80vh - 10px);
	}
	text{
		font-size: 10px;
	}

	h1 {
		width: 100%;
		font-size: 25px;
	}

	div {
		margin-right: 0;
		width: 100%;
		margin-bottom: 10px;
	}
}
